<aside id="sidebar" class="w-64 bg-white shadow-md md:block hidden">
  <div class="p-6">
    <h1 class="text-xl font-bold text-gray-800">Car Parts</h1>
  </div>
  <nav class="mt-6 space-y-1">
    <%= link_to dashboard_index_path, class: "flex items-center px-6 py-2 #{controller_name == 'dashboard' ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-home mr-3"></i> Home
    <% end %>

    <%= link_to items_path, class: "flex items-center px-6 py-2 #{(controller_name == 'items' && !current_page?(new_item_path)) ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-boxes mr-3"></i> Check Inventory
    <% end %>

    <%= link_to orders_path, class: "flex items-center px-6 py-2 #{controller_name == 'orders' ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-history mr-3"></i> Past Orders
    <% end %>

    <%= link_to new_item_path, class: "flex items-center px-6 py-2 #{current_page?(new_item_path) ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-plus-circle mr-3"></i> Add Item
    <% end %>

    <%= link_to new_member_path, class: "flex items-center px-6 py-2 #{controller_name == 'members' ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-user-plus mr-3"></i> Add Member
    <% end %>

    <%= link_to new_profile_setting_path, class: "flex items-center px-6 py-2 #{controller_name == 'profile_settings' ? 'bg-gray-300 font-semibold' : 'text-gray-700 hover:bg-gray-200'}" do %>
      <i class="fas fa-user-circle mr-3"></i> Profile
    <% end %>

    <div class="p-6 border-t fixed bottom-0 left-0 w-64">
      <%= button_to destroy_user_session_path,
        method: :delete,
        data: { turbo_confirm: "Are you sure you want to log out?" },
        class: "w-full flex items-center justify-center px-4 py-2 bg-gray-300 font-semibold text-black rounded-lg hover:bg-gray-400" do %>
        <i class="fas fa-sign-out-alt mr-2 text-black"></i> Logout
      <% end %>
    </div>
  </nav>
</aside>
